#wrap {position: relative;}
section{width: 100%; height: 100%;background-color:#fff; display: none; overflow: hidden; position: absolute; top: 0; }
.intro {position: absolute; z-index: 11; width: 100%; height: 100%; display: flex; align-items: center; justify-content: center; flex-direction: column; animation-name: introShow; animation-delay: 2s; animation-duration: 3s;}
.intro .logo{width: 20rem;}
.intro h1{font-size: 3rem;}
.intro p{font-size: 1.8rem; color: #C4C4C4;}
@keyframes introShow {
    0% {opacity: 1;}
    100% {opacity: 0;}
}

nav {position: fixed; z-index: 10; width: 100%; max-width: 720px;}
nav ul {display: flex; justify-content: flex-end;}
nav ul li {margin: 1.3rem 1.9rem; font-size: 1.4rem;}
nav ul .menu_player_genre {}
nav ul .menu_player_total {}
nav ul .menu_player_list {}
nav ul .active a {color: #fff;}

.player_genre{display: block; text-align: center; position: relative;}
.player_genre .genre_wrap {height: 100%;}
.player_genre .thumb_box {position: relative;}
.player_genre .thumb_box .btn_genre_group {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 15.5rem; height: 15.5rem;}
.player_genre .thumb_box > img {position: relative; left: 50%; transform: translateX(-50%); width: 128rem;}

.genre_group ul {display: flex;}
.genre_group ul li{overflow: hidden; position: relative; width: 15rem; height: 15rem; background-color: #000;}
.genre_group ul li img {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 260px; height: auto;}

.player_total{ width:100%; height:100%; padding:4.5rem 2rem; background-color:#fff; }
.player_total .player_img{ position: relative; width: 100%; padding-bottom: 56.4%;}
.player_total .player_img .player{ position: absolute; left:0; top: 0; width:100%; height:100%;}

.player_total .player_info{ margin-top:1rem;}
.player_total .player_info .player_title{font-size: 1.8rem; font-weight: 700; text-align: center;}
.player_total .player_info .player_name{font-size: 1.6rem; font-weight: 400; text-align: center;}
.player_total .controls{ margin-top:2rem; font-size: 3rem;}
.player_total .controls > input{cursor: pointer;}
.player_total .controls .btn_random{ background-color:#fff; color: #333;}
.player_total .controls .btn_random.on{ background-color:#333; color: #fff;}

.player_total .time_total{ position: relative; margin-top:1rem; width:100%; }
.player_total .time_total .play-progress-box{ position:relative; display: inline-block; font-size: 14px; background: #fff; width:100%; height: 8px; border-radius:5px; border: solid 1px #ddd; vertical-align: middle;}
.player_total .time_total .play-progress-box .play-progress-bar{width:0;height: 100%;background: gray; border-radius:5px 0 0 5px;}
.player_total .time_total .play-time{ margin-top:1%; display: flex; justify-content: space-between; font-size: 1.5rem;}
.player_total .time_total input[type=range].time_control { width:100%; -webkit-appearance: none; background: transparent; }
.player_total .time_total .time_control { position: absolute; left:0; top: -4px; width:100%; padding: 0px; }

.player_total .header{height: 5rem;}
.player_total .header_box{display: flex; align-items: flex-end; flex-direction: column; width: 100%;}
.player_total .header_box .btn_setting{font-size: 1.8rem; width: 10rem; background-color: #333; color: #fff; border-radius: 2rem; height: 4rem;}
.player_total .dropdown{display: none; width: 15rem; height: auto; text-align: center; background-color: #fff; border: 1px solid #333; border-radius: 2rem; font-size: 1.5rem; z-index: 10; margin-top: 1rem; overflow: hidden;}
.player_total .dropdown.on{display: block;}
.player_total .dropdown li{ height: 5rem; line-height: 5rem; cursor: pointer;}
.player_total .dropdown li:not(:first-child){border-top: 1px solid #333;}

.player_list{display: none; width:100%; padding:4.5rem 4.5rem 0; background-color:rgba(0,0,0,.6);}
.player_list h2 {margin-bottom: 4.5rem; font-size: 4.8rem; color: #fff;}
.player_list h2 > span {margin-left: 2rem; font-size: 1.3rem;}
.player_list .list_box{height: 100%; overflow-y: scroll; padding-right: 2rem;}
.player_list .list_box::-webkit-scrollbar{width: 1rem;}
.player_list .list_box::-webkit-scrollbar-thumb{background-color: #aaa; border-radius: 1rem;}
.player_list ul li{padding: 2rem;display: flex;justify-content:flex-start;background-color: #f1f1f1;border-radius: 1rem;}
.player_list ul li + li {margin-top: 1.5rem}
.player_list ul li .img_box{position:relative;width: 7.5rem;height:0;padding-bottom: 5.7rem;margin-right:1.2rem; background-color: #333;}
.player_list ul li .img_box img{ position: absolute; width: 100%; height:100%;}
.player_list ul li .info_box{width: calc(100% - 8.7rem);display: flex;align-items:center;align-content:center;flex-wrap: wrap;}
.player_list ul li .info_box .title{width:100%; font-size: 1.4rem; font-weight:700; line-height:1.4;}
.player_list ul li .info_box .name{width:100%; font-size: 1.2rem; font-weight:400; line-height:1.4; color: #A9A9A9;}
.player_list ul li a{position:relative;width: 3.5rem;padding-bottom: 3.5rem;text-indent: -5000px;}
.player_list ul li a::after{content: '';position: absolute;top:50%;left:50%;width:75%;height:75%;transform: translateX(-50%) translateY(-50%);background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 0 24 24' width='24px' fill='%23949494'%3E%3Cpath d='M0 0h24v24H0V0z' fill='none'/%3E%3Cpath d='M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm-2 14.5v-9l6 4.5-6 4.5z'/%3E%3C/svg%3E") no-repeat center;}

.player_list ul li.on .img_box{width: 12.8rem;padding-bottom: 9.7rem;}
.player_list ul li.on .info_box{width: calc(100% - 17.5rem);}
.player_list ul li.on a::after{background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 0 24 24' width='24px' fill='%238067C7'%3E%3Cpath d='M0 0h24v24H0V0z' fill='none'/%3E%3Cpath d='M9 16h2V8H9v8zm3-14C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8zm1-4h2V8h-2v8z'/%3E%3C/svg%3E") no-repeat center;}